<h1 class="text-center"><%= @cocktail.name %></h1>
<div class="shadow-sm d-flex p-3 justify-content-between my-3 flex-wrap">
  <div class="flex-grow-1 mr-3 flex-wrap">
    <% if @cocktail.doses.size > 0 %>
      Ingredients:
    <% end %>

    <ul class="list-group my-3">
      <% @cocktail.doses.each do |dose| %>
        <li class='list-group-item d-flex justify-content-between align-content-center'>
          <div class="mt-2">
            <%= dose.description %>
            <%= dose.ingredient.name %>
          </div>
          <%= link_to 'delete', dose_path(dose.id), method: :delete, class: "btn btn-danger" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class = "">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, collection: Ingredient.all.order(:name) %>
      <%= f.input :description %>
      <%= f.submit "Add Dose", class: 'btn btn-success btn-block'%>
    <% end %>
  </div>
</div>

<%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
<%= link_to 'Delete Cocktail', cocktail_path(@cocktail), method: :delete, class: "btn btn-danger"  %>
