<h1><%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit "Add Dose"%>
<% end %>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %>
      <%= dose.ingredient.name %>
    </li>
  <% end %>
</ul>
<%= link_to 'Back', cocktails_path%>
